<ul>
    <% Object.keys(errors).forEach((attribute) => { %>
        <% Object.values(errors[attribute]).forEach((err) => { %>
            <li style="color: white;"><%= err %></li>
        <% }); %>
    <% }); %>
</ul>