</div>
	</body>
	<div style="margin-top: 300px;">
		<footer class="page-footer fixed-bottom bg-dark">
			<div class="footer-copyright text-center py-3"><p style="color: lightgray;">© 2020 Bianca Behm</p></div>  
		</footer>
	</div>
</html>