<%- include('./partials/loggedInMenu.ejs') , {user: user} %>
<ul>
    <h3>Today's reporting</h3>
    <li>
        <a href="/user/reporting/morning">
            Morning
            <% if(morning){ %>
            ✅
            <% } %>
        </a>
    </li>
    <li>
        <a href="/user/reporting/evening">
            Evening
            <% if(evening){ %>
            ✅
            <% } %>
        </a>
    </li>
</ul>
<%- include('./partials/footer.ejs') %>