<%- include('./partials/loggedInMenu.ejs') , {user: user} %>
<ul>
    <h3>Today's reporting</h3>
    <li>
        <a href="/user/reporting/morning">
            Morning
            <% if(morning){ %>
            ✅
            <% } %>
        </a>
    </li>
    <li>
        <a href="/user/reporting/evening">
            Evening
            <% if(evening){ %>
            ✅
            <% } %>
        </a>
    </li>
</ul>
<h3>Your average mood lately</h3>

<h3>Community averages</h3>
<p>Check how the rest of the community is doing</p>

<%- include('./partials/footer.ejs') %>