<%- include ('./partials/header.ejs') %>
<br>
<h1 style="text-align: center; color: white;">Monitor Your Life</h1>
<br>
<div class="mx-auto" style="width: 70%;">
	<form method="get" action="/login"><input class="btn btn-secondary btn-lg btn-block" type="submit" value="Login"></input></form><br>
	<form method="get" action="/register"><input class="btn btn-secondary btn-lg btn-block" type="submit" value="Register"></input></form>
</div>
<%- include ('./partials/footer.ejs') %>