<%- include ('./partials/header.ejs') %>
<br>
<h1 style="text-align: center; color: white;">Login</h1>
<div class="d-flex justify-content-center">
<form method="POST" action="/auth/login">
    <input type="email" name="email" placeholder="example@example.com" /><br/>
    <input type="password" name="password" placeholder="password" /><br/>
    <input class="btn btn-light" type="submit" value="Login" class="btn btn-primary" />
</form>
</div>
<%- include ('./partials/footer.ejs') %>